*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 20px;
    padding-bottom: 10px;
}
.logo{
    align-self: center;
    font-weight: bold;
    font-size: 2rem;
}
.center{
    font-weight: bold;
    font-size: 1.5rem;
}
.right{
    align-self: center;
    font-weight: bold;
    font-size: 1rem;
}
.right input{
    height: 20px;
    padding: 15px;
    margin-right: 5px;
}
.right button{
    padding: 8px;
}
ul.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: blueviolet;
}
li{
    display: flex;
    flex-direction: row;
    width: 28%;
    flex-wrap: wrap;
    gap: 20px;
    background-color: greenyellow;
    padding: 10px;
    justify-content: center;
}
li img{
    width: 350px;
    height: 250px;
}
.content li h1{
    font-size: 1.5rem;
    text-wrap: initial;
}
.content li p{
    font-size: 1rem;
}