* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0f0f12;   
  color: #fff;
}

.main {
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: space-between;
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  align-self: center;
}


.center {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.center button {
  margin-top: 20px;
  padding: 10px 18px;
  background: #1d1d22;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  color: #eee;
  transition: 0.3s;
}

.center button:hover {
  background: #5a59ff;
  border-color: #5a59ff;
  color: #fff;
}

.right {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.right input {
  margin-top: 20px;
  width: 40%;
  min-width: 250px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #444;
  font-size: 16px;
  background: #1d1d22;
  color: #fff;
}

#heading{
  margin-top: 30px;
}

#home{
  padding: 10px 18px;
  background: #1d1d22;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  color: #eee;
  transition: 0.3s;
}

#home:hover {
  background: #5a59ff;
  border-color: #5a59ff;
  color: #fff;
}

.right button {
   margin-top: 20px;
  padding: 12px;
  background: #5a59ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.right button:hover {
  background: #3e3df5;
}

.content {
  list-style: none;
  margin-top: 25px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: center;
}

.content li {
  width: 30%; 
  background: #1a1a1f;
  border-radius: 14px;
  padding: 15px;
  border: 1px solid #2d2d33;
  transition: 0.3s;
}

.content li:hover {
  transform: translateY(-4px);
  background: #23232a;
}

.content img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.content p {
  margin-top: 12px;
  font-size: 16px;
  color: #ddd;
  line-height: 1.45;
}

.readmore {
  margin-top: 12px;
  padding: 12px;
  width: 100%;       
  background: #5a59ff;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.readmore:hover {
  background: #3f3ef5;
}

@media (max-width: 900px) {
  .content li {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .content li {
    width: 90%;
  }

  .right input {
    width: 80%;
  }

  .logo {
    text-align: center;
  }
}